
.expose1 {
  filter: brightness(200%)
}

.expose2 {
  filter: brightness(400%)
}

.expose3 {
  filter: brightness(800%)
}

.expose4 {
  filter: brightness(1600%)
}

.expose5 {
  filter: brightness(3200%)
}

.expose6 {
  filter: brightness(6400%)
}

.expose7 {
  filter: brightness(12800%)
}

.expose0 {
  ;
}

.expose-1 {
  filter: brightness(50%);
}

.expose-2 {
  filter: brightness(25%)
}

.expose-3 {
  filter: brightness(12.5%)
}

.expose-4 {
  filter: brightness(6.25%)
}

.expose-5 {
  filter: brightness(3.125%)
}

.expose-6 {
  filter: brightness(1.563%)
}

.expose-7 {
  filter: brightness(0%)
}

.triangle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.active {
  color: red;
  background-color: #282c34;

}

.error {
  color: red;
}


body {
    background-image: url("./pictures/dot-grid.png");
    background-color:	#F5F5F5;
    margin-bottom: 60px;
}

.sliders {
  margin-top: 20px;
}

.sliderresult {
  margin-bottom: 25px;
  margin-top: -10px;
}


.maintext {
  text-align: left;
  background-color:	#FFFFFF;
  border-radius: 15px;
  margin-top: 10px;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 30px;
}

.homeHeader {
  padding-top: 25px;
  padding-bottom: -10px;
  text-align: center;
}

#active {
  color: red;
  background-color: #282c34;

}

active {
  color: red;
  background-color: #282c34;

}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.slidecontainer {
  width: 100% !important; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.galleryresult {
  text-align: center;
}

.imggrid {
  object-fit: scale-down;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
